{% load template_tags %}
{% load i18n %}

<div class="widgetTitle">{{product.title}}</div>
{% if product.subtitle %}
<div class="widgetSubTitle">{{ product.subtitle }}</div>
{% endif %}

<div class="section" id="overview">
    <div class="sectionContent">
        <table border="0" cellpadding="8" cellspacing="0">
            <tr valign="top">
                
                <td><img class="productPhoto" src="http://{{data_site}}/static/{{photos.0.photo_small}}" alt="{{product.title}}"/></td>
                <td>
                    {{product.description|term_defenition|safe|linebreaksbr}}
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="section" id="featuresList">
    <div class="sectionTitle">{% trans "Features" %}</div>
    <div class="sectionContent">
        <table border="0" cellpadding="8" cellspacing="0">
            <tr valign="top">
                <td width="320">
                <ul>
                    {% for attr in product.productattribute_set.all %}
                    <li> {{ attr.name }} - {{ attr.value }} </li>
                    {% endfor %}
                </ul>
            </td>
                {% if product.video %}
                <td>
                    <object width="320" height="265">
                        <param name="movie" value="http://www.youtube.com/v/5MxdfUfiWx0&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6"></param>
                        <param name="allowFullScreen" value="true"></param>
                        <param name="allowscriptaccess" value="always"></param>
                        <embed src="{{ product.video }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265"></embed></object>
                </td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>

<div class="section" id="reviews">
    <div class="sectionTitle">{% trans "Opinions" %}</div>
    <div class="sectionContent">
        <table>
            <tr valign="top">
                <td id="profReviewsCol"> <div class="reviewsTitle">{% trans "Professional Reviews" %}</div>
                    <ul>
                        {% for review in reviews %}
                        <li><strong>{{ review.title }}</strong>
                        <span>{{ review.details|linebreaksbr }}</span>
                        <a href="{{ review.link }}">Read more...</a>
                        </li>
                        {% endfor %}
                    </ul>
                </td>
                <td id="communityReviewsCol"> <div class="reviewsTitle">{% trans "What the Community Says" %}</div>
                    <ul>
                        <li>Bought this TV last year, never had any prolems with it. Recommended!!! <strong>David Hirsch, NY</strong>
                        </li>
                    </ul>
                    <a href="">{% trans "Do you own this product? Write your own review!" %}</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="comparisonTable" class="section">
    <div class="sectionTitle">{% trans "Comparison" %}</div>
    <div class="sectionContent">
        <table>
            <tbody>
                <tr>
                    {{ table }}
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="similarProducts" class="section">
    <div class="sectionTitle">{% trans "Similar Products" %}</div>
    <div class="sectionContent">
        <table>
            <tbody>
                <tr>
                    <td><img src="http://{{data_site}}/static/images/thumb.jpg" /> <a
                            href="#">Samsung 32" KL103</a>
                        <div>A good bargain for a fully fledged HDTV, the Samsung
                            40-inch LCD is an excellent television across the board</div>
                    </td>
                    <td><img src="http://{{data_site}}/static/images/thumb2.jpg" />
                        <a href="#">Sony Bravia KDL46Z5500</a>
                        <div>Boasting improved design and an upgraded picture engine,
                            the Sony Bravia KDL46Z5500 is perfect for watching the World Cup on.
                            Which Cup is up to you</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="section" id="share">
    <div class="sectionTitle">{% trans "Share" %}</div>
    <div class="sectionContent">
        <b>
            {% trans "Ask friend's opitions" %} 
        </b> 
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_email"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b2a308f3ba35ad7"></script>
        <!-- AddThis Button END -->
    </div>
</div>
