{% load template_tags %}
{% load i18n %}

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style">
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_email"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b2a308f3ba35ad7"></script>
<!-- AddThis Button END -->

<div class="widgetTitle">{{product.title}}</div>
 {% if product.subtitle %}
<div class="widgetSubTitle"> {% trans "model" %} {{ product.subtitle }}</div>
{% endif %}

<div class="section" id="overview">
    <div class="sectionContent">
        <table border="0" cellpadding="8" cellspacing="0">
            <tr valign="top">
                <td><img class="productPhotoMain" src="{{photos.0.photo_large}}" alt="{{product.title}}"/></td>
                <td> {{product.description|term_defenition|safe|linebreaksbr}} </td>
            </tr>
        </table>
    </div>
</div>

<div class="section" id="featuresList">
    <div class="sectionTitle">{% trans "Features" %}</div>
    <div class="sectionContent">
        <table border="0" cellpadding="8" cellspacing="0">
            <tr valign="top">
                <td width="320">
                    <table>
                    {% for attr in product.productattribute_set.all %}
                    <tr>
                        <td class="attr_desc"> 
                            {% if attr.name.desc %}
                            <span class="glossary" title="{{ attr.name.desc|linebreaksbr }}" >
                                {% else %}
                                <span>
                                {% endif %}
                                {{ attr.name }}
                            </span> 
                        </td>
                        <td><strong>{{ attr.value }}</strong>{% if attr.name.units %}{% trans attr.name.units %}{% endif %}</td>
                    </tr>
                        {% endfor %}
                </table>
            </td>
                {% if product.video %}
                <td>
                    <object width="320" height="265">
                        <param name="movie" value="http://www.youtube.com/v/5MxdfUfiWx0&hl=en_US&fs=1&color1=0x2b405b&color2=0x6b8ab6"></param>
                        <param name="allowFullScreen" value="true"></param>
                        <param name="allowscriptaccess" value="always"></param>
                        <embed src="{{ product.video }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="320" height="265"></embed></object>
                </td>
                {% endif %}
            </tr>
        </table>
    </div>
</div>

<div class="section" id="reviews">
    <div class="sectionTitle">{% trans "Opinions" %}</div>
    <div class="sectionContent">
        <table>
            <tr valign="top">
                <td id="profReviewsCol"> <div class="reviewsTitle">{% trans "Professional Reviews" %}</div>
                    <ul>
                        {% for review in reviews %}
                        <li><strong>{{ review.title }}</strong>
                        <span>{{ review.details|linebreaksbr }}</span>
                        <a href="{{ review.link }}" target="_blank">{% trans "Read more" %}...</a>
                        </li>
                        {% empty %}
                        {% trans "No professional reviews found" %}
                        {% endfor %}
                    </ul>
                </td>
                <td id="communityReviewsCol"> <div class="reviewsTitle">{% trans "What the Community Says" %}</div>
                    <ul>
                        {% for review in user_reviews %}
                        <li> {{ review.review }} <br><strong> {{ review.user }}</strong> </li>
                        {% empty %}
                        {% trans "No community reviews found" %}
                        {% endfor %}
                    </ul>
                    <!--                    <a href="">{% trans "Write a review" %}</a> -->
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="comparisonTable" class="section">
    <div class="sectionTitle">{% trans "Comparison" %}</div>
    <div class="sectionContent">
        <table>
            <tbody>
                <tr>
                    {{ table }}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="similarProducts" class="section">
    <div class="sectionTitle">{% trans "Similar Products" %}</div>
    <div class="sectionContent">
        <table>
            <tbody>
                <tr>
                    {% for prod in similar %}
                    <td>
                        <img class="productPhotoMin" src="{{ prod.photo_set.all.0.photo_large }}" alt="{{product.title}}"/>
                        <a href="{% product_store_url prod store %}"> {{ prod }}</a>
                        {% if prod.description %}
                        <div>{{ prod.description|slice:":100" }}...</div>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="section" id="share">
    <div class="sectionTitle">{% trans "Share" %}</div>
    <div class="sectionContent">
        <b>
            {% trans "Ask friend's opitions" %} 
        </b> 
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
            <a class="addthis_button_facebook"></a>
            <a class="addthis_button_twitter"></a>
            <a class="addthis_button_email"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4b2a308f3ba35ad7"></script>
        <!-- AddThis Button END -->
        <div style="float:left">
            {% trans "Parts of the content on this page are provided via zap.co.il" %}
        </div>
    </div>
</div>

<script type="text/javascript">
    function track_prod() {
        pageTracker._trackPageview();
        pageTracker._trackEvent('product', {{product.zapid}});
    
        trackHandlerFull = function() {
            pageTracker._trackEvent('get', 'shopjet');
        };

        $('input.standartFont').unbind('click', trackHandler);
        $('input.standartFont').bind('click', trackHandlerFull);
    };

    $(document).ready(track_prod); 

</script>

