{% load template_tags %}        
<table>
    <tr>
        <td> </td>
        {% for p in products %}
        <td style="line-height:8px"> 
            <img height="64" width="64" src="http://{{data_site}}/static/{{ p.photo_set.get.photo }}"/>
            <strong>{{p.title}}</strong>
            <p style="line-height:10px">{{p.subtitle}}</p>
        </td>
        {% endfor %}
    </tr>

    {% for block in attr_block %}
    <tr class="header" style="line-height:25px">
        <th colspan="6"> {{ block.name }} </th>
    </tr>

    {% for attr in block.list.all %}
    <tr>
        <td class="attr with_border"> {{ attr.name }} </td>
        {% for p in products %}
        <td class="value with_border"> {% product_attribute p attr %} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}
</table>
