{% load template_tags %}        
<table>
    <tr>
        <td> </td>
        {% for p in products %}
        <td style="line-height:8px"> 
            <img height="64" width="64" src="http://{{data_site}}/static/{{ p.photo_set.get.photo }}"/>
            <strong>{{p.title}}</strong>
            <p style="line-height:10px">{{p.subtitle}}</p>
        </td>
        {% endfor %}
    </tr>


    {% for r in result %}
    <tr class="header" style="line-height:25px">
        <th colspan="6"> {{ r.class }} </th>
    </tr>

    {% for a in r.attrs %}
    <tr>
        <td class="attr with_border"> {{ a.0.name }} </td>
        {% for x in a %}
        <td class="value with_border"> {{ x.value }} </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}


</table>
