{% load template_tags %}        
{% load i18n %}
<table>
    <tr>
        <td> </td>
        {% for p in products %}
        <td class="center {% ifequal p product %}selected{% endifequal %}"> 
            <p><img width="64" src="{{ p.photo_set.get.photo_small }}"/></p>
            <a href="{% product_store_url p store %}">
            <strong>{{p.title}}</strong>
            {{p.subtitle}}
            <p>Rating: {{ p.rating }} </p>
        </a>
        </td>
        {% endfor %}
    </tr>


    {% for block in result %}
    <tr class="header" style="line-height:25px">
        <th colspan="5"> {{ block.class }} </th>
    </tr>

    {% for attribute in block.attrs %}
    <tr>
        <td class="attr with_border"> <span class="glossary" title="{{ attribute.desc }}" > {% trans attribute %} </span> </td>
        {% for p in products %}
        <td class="center value with_border {% ifequal p product %}selected{% endifequal %}"> {% product_attribute p attribute %}  </td>
        {% endfor %}
    </tr>
    {% endfor %}
    {% endfor %}


</table>
